@tailwind base;
@tailwind components;
@tailwind utilities;

html{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: black; 
}

.voar {
    color: white;
}

/* HEADER SESION INICIADA */ 

header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
	padding: 10px 10%;
	margin-left: 5px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-color: yellow;
}

.logo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

.logo img{
	height: 100px;
	width: auto;
	transition: all 0.3s;
}

.logo img:hover{
	transform: scale(1.2);
}

.logo-nombre{
	font-weight: 600;
	font-size: 60px;
	color: white;
}

nav{
	display: flex;
	align-items: center;
	gap: 70px;
}

nav a{
	font-weight: 100;
	color: white;
	margin-left: 0px;
	font-size: auto;
}

nav a:hover{
	color: yellow;
	text-decoration: underline;
}

.amarillo{
	color: yellow;
	text-decoration: underline;
}

.carrito img{
	height: 70px;
	width: auto;
	transition: all 0.3s;
	margin-left: 100px ;
}

.carrito img:hover{
	transform: scale(1.2);
}

header a{
    text-decoration: none;
}


/* DESPLEGABLE CUENTA */

li, ul, ol {
    list-style: none;
}

.desplegable-cuenta li a{
    text-decoration: none;
    display: block;
    align-items: center;
	background-color: black;
    text-align: center;
    border: white 1px solid;
    color: white;
}

.centrar ul{
	padding: 40px;
}

.desplegable-cuenta :hover {
    background-color: rgb(170, 200, 1);
    margin: auto;
}

.cuenta li ul{
    display: none;
    position: absolute;
    margin: auto;
}

.cuenta li:hover > ul{
    display: block;
}

.cerrar-sesion:hover{
    background-color: red;
}

.centrar{
	display: flex;
	justify-content: center;
}

.personita{
	margin-right: 5px;
}

.imagen-texto{
	display: flex;
	align-items: center;
}

/* DESPLEGABLE CATEGORIAS */

.categorias {
	width: 900px;
    display: none;
    position: absolute;
    background-color: white;
    border: 3px yellow solid;
    padding: 10px;
    z-index: 1000;
}

.categorias-texto:hover .categorias {
    display: flex;
	justify-content: center;
	margin-top: 40px;
	gap: 200px;
}

.categorias h2 {
    margin: 0px;
    padding: 10px;
    text-align: center;
	color: black;
	font-weight: 600;
}

.categorias ul {
    list-style: none;
    padding: 10px;
}

.categorias ul li a {
    color: black;
    text-decoration: none;
}

.espacio li{
	margin-bottom: 15px;
}

.categorias ul li a:hover {
    text-decoration: underline 3px;
}

.categorias h2:hover {
    text-decoration: underline 3px;
}

.categorias-texto{
	display: flex;
	justify-content: center;
}

.hola{
	padding: 0px;
}

.union{
	padding: 0px;
}

/* FOOTER */

footer {
	background-color: #000000b9;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	padding: 30px 0px;
	color: white;
	gap: 10px;
	padding-bottom: 5px;
	border-top: 1px solid yellow;
}

footer .grupo-1{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 250px;
	padding-bottom: 20px;
	padding-top: 20px;
}
footer div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 0px;
	margin: auto;
}
.box{
	flex-direction: column;
	gap: 10px;
}

.logo-nombre-footer{
	font-weight: 600;
	font-size: 50px;
}

.red-social
{
	gap: 30px;
}

.red-social a{
	font-size: 40px;
}

.grupo-2{
	margin-top: 20px;
}

footer h2{
	font-weight: 700;
}

footer a:hover{
	color: yellow;
}

/*@media HEADER*/
@media (max-width: 2560px) {
	/*HEADER*/
	header{
		padding: 0px 20%;
	}
	.logo{
		height: 50px;
		width: auto;
	}
	.logo-nombre{
		font-size: 60px;
	}
	nav {
		gap: 40px;
		font-size: 22px;
	}
	.carrito img{
		margin-left: 40px;
		height: 55px;
	}

	/*DESPLEGABLE CATEGORIAS*/
	.categorias h2 {
		padding: 5px;
	}
	.categorias ul {
		padding: 5px;
	}
	.espacio li{
		margin-bottom: 10px;
	}

	/*DESPLEGABLE CUENTA*/

	.desplegable-cuenta li a{
		width: 250px;
		padding: 15px 10px;
	}
	.personita{
		width: 20px;
	}
}

@media (max-width: 2000px) {
	/*HEADER*/
	header{
		padding: 0px 10%;
	}
	nav {
		gap: 50px;
		font-size: 17px;
	}
	
	/*DESPLEGABLE CATEGORIAS*/
	.categorias-texto:hover .categorias {
		margin-top: 30px;
	}
	/*DESPLEGABLE CUENTA*/
	.centrar ul{
		padding: 30px;
	}
	/*DESPLEGABLE CUENTA*/
	.desplegable-cuenta li a{
		width: 200px;
	}

}

@media (max-width: 1700px) {
	/*HEADER*/
	.logo{
		gap: 40px;
	}
	.carrito img{
		margin-left: 20px;
		height: 50px;
	}

	/*DESPLEGABLE CATEGORIAS*/
	.categorias {
		width: 600px;
	}
	.categorias-texto:hover .categorias {
		gap: 100px;
	}

	/*DESPLEGABLE CUENTA*/
	.personita{
		width: 14px;
	}
	.centrar ul{
		padding: 30px;
	}
}

@media (max-width: 1440px) {
	/*HEADER*/
	.logo{
		gap: 0;
	}
	nav {
		gap: 35px;
		font-size: 15px;
	}
	.carrito img{
		height: 45px;
		margin-left: 20px;
	}

	/*DESPLEGABLE CUENTA*/
	.desplegable-cuenta li a{
		width: 170px;
	}
}
@media (max-width: 1150px) {
	/*HEADER*/
	header{
		padding: 0px 4%;
	}
	.logo{
		gap: 10px;
		height: 40px;
	}
	.logo-nombre{
		font-size: 45px;
	}
	.carrito img{
		margin-left: 2px;
		height: 35px;
	}

	/*DESPLEGABLE CATEGORIAS*/
	.categorias-texto:hover .categorias {
		margin-top: 27px;
	}
	/*DESPLEGABLE CUENTA*/
	.centrar ul{
		padding: 27px;
	}
	/*FOOTER*/
	footer p{
		font-size: 10px;
	}
	footer .grupo-1{
		padding-right: 100px;
	}
}
@media (max-width: 900px) {
	/*HEADER*/
	header{
		flex-direction: column;
		margin: 0px;
	}
	.logo{
		gap: 0;
	}
	nav {
		font-size: 16px;
	}
	/*DESPLEGABLE CATEGORIAS*/
	.categorias {
		width: 550px;
		margin-left: 200px;
	}
	.categorias-texto:hover .categorias {
		gap: 70px;
	}
	/*FOOTER*/
	footer{
		padding-top: 0px;
	}

	footer .grupo-1{
		flex-direction: column;
		padding: 0;
	}

	footer .box{
		padding: 10px;
		gap: 0px;
	}

	footer .grupo-2{
		font-size: 12px;
		margin-top: 0px;
	}

	.logo-nombre-footer{
		font-size: 0px;
	}
}

@media (max-width: 600px) {
	/*HEADER*/
	nav {
		font-size: 13px;
	}
	/*DESPLEGABLE CATEGORIAS*/
	.categorias {
		width: 450px;
		margin-left: 150px;
	}

	/*DESPLEGABLE CUENTA*/
}
@media (max-width: 500px) {
	/*HEADER*/
	.logo{
		height: 30px;
	}
	nav {
		gap: 22px;
		font-size: 11px;
	}
	.carrito img{
		height: 30px;
	}
	.logo-nombre{
		font-size: 35px;
	}
	/*DESPLEGABLE CUENTA*/
	.desplegable-cuenta li a{
		width: 130px;
		padding: 10px 5px;
	}
	.centrar ul{
		padding: 20px;
	}

	/*DESPLEGABLE CATEGORIAS*/
	.categorias-texto:hover .categorias {
		margin-top: 20px;
	}
}

@media (max-width: 400px) {
	/*HEADER*/
	nav {
		gap: 15px;
		font-size: 9px;
	}
	.carrito img{
		margin-left: 5px;
		height: 25px;
	}

	/*DESPLEGABLE CATEGORIAS*/
	.categorias {
		width: 330px;
		margin-left: 120px;
	}
	.categorias-texto:hover .categorias {
		gap: 30px;
	}

	/*FOOTER*/
	footer p{
		font-size: 9px;
	}
}
@media (max-width: 315px) {
	/*HEADER*/
	.logo{
		height: 5px;
	}
	nav {
		font-size: 8px;
	}
	.carrito img{
		margin-left: 3px;
	}
	.logo-nombre{
		font-size: 30px;
	}
	.logo img{
		height: 70px;
	}
	/*DESPLEGABLE CATEGORIAS*/
	.categorias {
		width: 270px;
		padding: 10px;
	}
	
	/*DESPLEGABLE CUENTA*/

	.personita{
		width: 9px;
	}

	/*FOOTER*/
	footer .box{
		padding: 9px;
		font-size: 12px;
	}

	footer .grupo-2{
		font-size: 8px;
	}

	footer .red-social a{
		font-size: 25px;
	}

	footer .red-social{
		gap: 20px;
	}
}